<div class="container">
  <div class=''>
    Angular Assigmnent:
    The assignment below assumes that you have Node (v10+) installed and @angular/cli installed.
  </div>


<h2>Assignment-1</h2>
<ol>
  <li>Create a new component named “users” using @angular/cli.</li>
  <li>Inside the component, create an array of users. Each user shall have a name, username and email.</li>
  <li>Bind list of users using <em>< table ></em> tag.</li>
  <li>Use <em>< ng-template ></em> tag to display a message in case no users are available.</li>
</ol>

<h2> Assignment-2</h2>
<ol>
  <li>Create a directive named “highlighter”.</li>
  <li>This directive should be responsible to do the following:
    <ol>
      <li>Add a yellow background to email in the above table if user places her mouse over an email in the table.</li>
      <li>Remove that yellow background from email if user moves her mouse out of that same email.</li>
    </ol>
  </li>
</ol>

</div>
