<h2>Highlighter Demo</h2>
<table class="table" *ngIf=" data.length>0; else elseBlock">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of data; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td appHighlighter>{{user.email}}</td>
    </tr>
  </tbody>
</table>
<ng-template #elseBlock>
  <div class='nouser'>No User Available</div>
</ng-template>
